@import "bootstrap.css";
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
$main_font: 'Poppins', sans-serif;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
body{
  font-family: $main_font;
}

header{
  .navbar-light{
    .navbar-nav{
      .nav-item{
        transition: 0.3s;
        margin-left: 32px;
        .nav-link{
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 24px;
          color: #1B1A1A;
          padding: 0;
        }
        &:hover, &.active{
          .nav-link{
            color: #645C55;
          }
        }
        &:last-of-type{
          background: #1B1A1A;
          border-radius: 14px;
          padding: 11px 20px;
          .nav-link{
            font-size: 1rem;
            color: white;
          }
        }
      }
    }
  }
}

.main_banner{
  background-color: #ECE7E4;
  .header_edit{

      h4{
        color: #645C55;
        margin-bottom: 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      h1{
        color: #1B1A1A;
        margin-bottom: 19px;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 70px;
      }
    p{
      margin-bottom: 30px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 500px;
      color: #403E3B;

    }
    a{
      margin-left: 20px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.4px;
      text-decoration: none;
      transition: 0.2s;
      color: #1B1A1A;
      &:hover, &:active{
        color: #625D5D;
      }
    }
    }
  }
.our_firm{
  padding: 100px 0;
  div{
    &:nth-child(4){
p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #403E3B
}
    }
  }
}
.Reeding_House{
  background-image: url("../images/BG_2.jpg");
  background-size: cover;
  min-height: 600px;
  @include max-screen(992px){
    background-position: -650px;
  }
  .row{
    min-height: 600px;
  }
  p{
    max-width: 285px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
  }
  h3{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
  }
}
.our_process{
  padding: 100px 0;
  h4{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 13px;
  }
  h3{
    text-align: center;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 47px;
  }
  div{
    &:nth-child(4){
      img{
        margin-bottom: 15px;
      }
      h4{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #403E3B;
        margin-bottom: 10px;
      }
      p{
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #645C55;
        max-width: 285px;
        display: inline-block;
      }
    }
 &:nth-child(3){
   img{
     margin-bottom: 15px;
   }
   h4{
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 26px;
     text-align: center;
     color: #403E3B;
     margin-bottom: 10px;
   }
   p{

     font-size: 15px;
     line-height: 24px;
     text-align: center;
     color: #645C55;
     max-width: 292px;
     display: inline-block;
   }
 }
    &:nth-child(2){
      img{
        margin-bottom: 15px;
      }
      h4{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #403E3B;
        margin-bottom: 10px;
      }
      p{
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #645C55;
        max-width: 294px;
        display: inline-block;
      }
    }
  }
}
.marble_staircase{
  @extend .Reeding_House;
  background-image: url("../images/BG_3.jpg");
}
.Happy_customers{
  padding: 100px 0;
  background-color: #403E3B;
  h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
  }
  h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 14px;
  }
  p{
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
    max-width: 450px;
  }
  div{
    &:nth-child(2) {
      img {
        &:first-child{
          margin-bottom: 128px;
        }
      }
    }
      &:nth-child(3){
        img {
          &:first-child{
            margin-bottom: 96px;
          }

        }
    }

}
}
.swirling_staircase{
  @extend .Reeding_House;
  background-image: url("../images/bg_4.jpg");


}
.feature{
  background-color: #F7F7F7;
  h3{
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 13px;
  }
  h4{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 42px;

  }
  padding: 100px 0;

  div {
    &:nth-child(2) {
      .project{
        position: relative;
        overflow: hidden;

        .heading_cover {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 2;
          top: -50%;
          left: 0;
          padding-top: 40px;
          padding-left: 40px;
          transition: 0.4s;

        }
        .read {
          padding: 11px 20px;
          color: #FFFFFF;
          background-color: #1B1A1A;
          border-radius: 14px;
          text-decoration: none;
          position: absolute;
          bottom: -50%;
          left: 40px;
          z-index: 3;
          transition: 0.4s;
        }
        &:hover{
          .heading_cover{
            top: 0;
          }
          .read{
            bottom: 40px;
          }
        }
      }

    }
    h6 {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #645C55;
    }

    h5 {
      font-weight: 400;
      font-size: 23px;
      line-height: 30px;
      color: #403E3B;
    }

    &:nth-child(4) {
      margin-top: 40px;

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #1B1A1A;
        transition: 0.2s;

        &:hover {
          color: #625D5D;
        }
      }
    }
  }
}
.our_team{
  padding: 100px 0;
  .margin_bottom{
    margin-bottom: 34px;
  }
h3{
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #403E3B;
  margin-bottom: 14px;
}
  p{
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    margin-bottom: 30px;
  }
  a{
    font-size: 15px;
    line-height: 24px;
 text-decoration:none;
    color: #645C55;
    margin-left: 25px;
  }
  .description{
    max-width: 280px;
display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left: 30px;

    span{
      ont-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #645C55;
    }
  }
}
.get_in_touch{
  padding: 100px 0;
  background-color: #CEC4BC;
  h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
  }
  h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
    max-width: 570px;
  }
  a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    transition: 0.2s;
    &:hover{
      color: #625D5D;
    }
  }

}
.footer{
  padding: 60px 0;
  background-color: #F7F7F7;
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55;

  }
  div{
    &:nth-child(1){
      img{
        margin-bottom: 20px;
      }
    }
    &:nth-child(2){
      img{
        margin: 0;
        margin-right: 10px;
        margin-left: 10px;
        &:nth-child(1){
          margin-left: 0;
        }
        &:nth-child(3){
          margin-right: 0;
        }
      }
    }
  }
}