@import url(bootstrap.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body {
  font-family: "Poppins", sans-serif; }

header .navbar-light .navbar-nav .nav-item {
  transition: 0.3s;
  margin-left: 32px; }
  header .navbar-light .navbar-nav .nav-item .nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
    padding: 0; }
  header .navbar-light .navbar-nav .nav-item:hover .nav-link, header .navbar-light .navbar-nav .nav-item.active .nav-link {
    color: #645C55; }
  header .navbar-light .navbar-nav .nav-item:last-of-type {
    background: #1B1A1A;
    border-radius: 14px;
    padding: 11px 20px; }
    header .navbar-light .navbar-nav .nav-item:last-of-type .nav-link {
      font-size: 1rem;
      color: white; }

.main_banner {
  background-color: #ECE7E4; }
  .main_banner .header_edit h4 {
    color: #645C55;
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .main_banner .header_edit h1 {
    color: #1B1A1A;
    margin-bottom: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px; }
  .main_banner .header_edit p {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 500px;
    color: #403E3B; }
  .main_banner .header_edit a {
    margin-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: 0.2s;
    color: #1B1A1A; }
    .main_banner .header_edit a:hover, .main_banner .header_edit a:active {
      color: #625D5D; }

.our_firm {
  padding: 100px 0; }
  .our_firm div:nth-child(4) p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B; }

.Reeding_House, .marble_staircase, .swirling_staircase {
  background-image: url("../images/BG_2.jpg");
  background-size: cover;
  min-height: 600px; }
  @media screen and (max-width: 992px) {
    .Reeding_House, .marble_staircase, .swirling_staircase {
      background-position: -650px; } }
  .Reeding_House .row, .marble_staircase .row, .swirling_staircase .row {
    min-height: 600px; }
  .Reeding_House p, .marble_staircase p, .swirling_staircase p {
    max-width: 285px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #645C55; }
  .Reeding_House h3, .marble_staircase h3, .swirling_staircase h3 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B; }

.our_process {
  padding: 100px 0; }
  .our_process h4 {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
    margin-bottom: 13px; }
  .our_process h3 {
    text-align: center;
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 47px; }
  .our_process div:nth-child(4) img {
    margin-bottom: 15px; }
  .our_process div:nth-child(4) h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    margin-bottom: 10px; }
  .our_process div:nth-child(4) p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
    max-width: 285px;
    display: inline-block; }
  .our_process div:nth-child(3) img {
    margin-bottom: 15px; }
  .our_process div:nth-child(3) h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    margin-bottom: 10px; }
  .our_process div:nth-child(3) p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
    max-width: 292px;
    display: inline-block; }
  .our_process div:nth-child(2) img {
    margin-bottom: 15px; }
  .our_process div:nth-child(2) h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #403E3B;
    margin-bottom: 10px; }
  .our_process div:nth-child(2) p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
    max-width: 294px;
    display: inline-block; }

.marble_staircase {
  background-image: url("../images/BG_3.jpg"); }

.Happy_customers {
  padding: 100px 0;
  background-color: #403E3B; }
  .Happy_customers h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4; }
  .Happy_customers h3 {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 14px; }
  .Happy_customers p {
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
    max-width: 450px; }
  .Happy_customers div:nth-child(2) img:first-child {
    margin-bottom: 128px; }
  .Happy_customers div:nth-child(3) img:first-child {
    margin-bottom: 96px; }

.swirling_staircase {
  background-image: url("../images/bg_4.jpg"); }

.featured {
  background-color: #F7F7F7;
  padding: 100px 0; }
  .featured h3 {
    font-weight: 400;
    font-size: 39px;
    line-height: 42px;
    color: #1B1A1A;
    margin-bottom: 13px; }
  .featured h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #645C55;
    margin-bottom: 42px; }
  .featured div:nth-child(2) .project {
    position: relative;
    overflow: hidden; }
    .featured div:nth-child(2) .project .heading_cover {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      top: -50%;
      left: 0;
      padding-top: 40px;
      padding-left: 40px;
      transition: 0.4s; }
    .featured div:nth-child(2) .project .read {
      padding: 11px 20px;
      color: #FFFFFF;
      background-color: #1B1A1A;
      border-radius: 14px;
      text-decoration: none;
      position: absolute;
      bottom: -50%;
      left: 40px;
      z-index: 3;
      transition: 0.4s; }
    .featured div:nth-child(2) .project:hover .heading_cover {
      top: 0; }
    .featured div:nth-child(2) .project:hover .read {
      bottom: 40px; }
  .featured div h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; }
  .featured div h5 {
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    color: #403E3B; }
  .featured div:nth-child(4) {
    margin-top: 40px; }
    .featured div:nth-child(4) a {
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.4px;
      color: #1B1A1A;
      transition: 0.2s; }
      .featured div:nth-child(4) a:hover {
        color: #625D5D; }

.our_team {
  padding: 100px 0; }
  .our_team .margin_bottom {
    margin-bottom: 34px; }
  .our_team h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    margin-bottom: 14px; }
  .our_team p {
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    margin-bottom: 30px; }
  .our_team a {
    font-size: 15px;
    line-height: 24px;
    text-decoration: none;
    color: #645C55;
    margin-left: 25px; }
  .our_team .description {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-left: 30px; }
    .our_team .description span {
      ont-weight: 400;
      font-size: 14px;
      line-height: 14px;
      color: #645C55; }

.get_in_touch {
  padding: 100px 0;
  background-color: #CEC4BC; }
  .get_in_touch h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; }
  .get_in_touch h3 {
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
    max-width: 570px; }
  .get_in_touch a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    text-decoration: none;
    transition: 0.2s; }
    .get_in_touch a:hover {
      color: #625D5D; }

.footer {
  padding: 60px 0;
  background-color: #F7F7F7; }
  .footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #645C55; }
  .footer div:nth-child(1) img {
    margin-bottom: 20px; }
  .footer div:nth-child(2) img {
    margin: 0;
    margin-right: 10px;
    margin-left: 10px; }
    .footer div:nth-child(2) img:nth-child(1) {
      margin-left: 0; }
    .footer div:nth-child(2) img:nth-child(3) {
      margin-right: 0; }

/*# sourceMappingURL=style.css.map */
